HELP.md
/target/
logs
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
logs/logger.log_2019-04-26-11.0
logs/logger.log_2019-04-30-16.0
logs/logger.log_2019-05-03-11.0
logs/logger.log_2019-05-03-12.0
logs/logger.log_2019-05-03-14.0
logs/spring.log.2019-04-26.0.gz
logs/spring.log.2019-04-30.0.gz
src/main/resources/static/
src/main/resources/templates/
